@import '../Var.scss';

.container__footer{
    background-color: $color-primary;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: $color-white;
    padding: 1rem 1.5rem;
}

.container__copy {
    width: auto;
    display: flex;
    align-items: center;
    font-size: small;

    img {
        margin-right: 5px;
    }

    p span:hover {
        cursor: pointer;
        color: $color-secondary;
    }
}

.container__socialMedia {
    display: flex;
    align-items: center;
    width: auto;

    li:nth-child(even){
        margin: 0 5px;
    }
}