@import "../Var.scss";

.home {
    display: flex;
    flex-direction: column;
}

.container__posts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95vw;
    margin: 2rem auto;
}
