@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

$theme-font: 'Poppins', sans-serif;
$title-font: 2rem;
$standard-font: 1.8rem;
$header-font: 3rem;
$color-primary: #6B4FB1;
$color-secondary: #495DE0;
$color-white: #FFFFFF;
$color-btn-primary: linear-gradient(90deg, #495DE0 0%, #6B4FB1 100%);
$color-bg: #EFF3FC;
$color-text: #615976;
$color-bg-form: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.04) 100%);
